<!DOCTYPE html>
<html>
  <head>
    <title>CursosOnline</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbo-track': 'reload' %>

  </head>

 
  <body data-flash-messages="<%= JSON.dump(flash.to_a) %>">

    <div class="wrapper">

      <aside class="sidebar">
         <%= render '/layouts/sidebar' %>
      </aside>
   
          <div class="content">
          <div class="top-bar">teste</div>
           
              <%= yield %>
             
          </div>
    

    </div>
  </body>
</html>
